<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<extension id="showInFileBrowser" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Show in file browser"/>
		<path value="org.protege.editor.core.application.menu.FileMenu/SlotJ-A"/>
		<toolTip value="Shows the currently selected ontology in the system's file browser"/>
		<class value="de.pooky.protege.plugin.menu.ShowInFileBrowserAction"/>
		<editorKitId value="any"/>
	</extension>

</plugin>
